@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* font-family: "Outfit", sans-serif; */
.body{
    background-color: #A7C7E7;
    font-family: "Outfit", sans-serif;
    padding-bottom: 300px;
}