.home{
    width: 70vw;
    min-width: 500px;
    margin: auto;
    margin-top: 70px;
}
.timercontainer{
    width: 100%;
    min-width: 500px;
    height: 459px;
    background-color: white;
    border-radius: 8px;
    padding-top: 20px;
}
.breaksect{
    display: flex;
    width: 304px;
    justify-content: space-between;
    margin: auto;
}
.timer{
    width: 304px;
    height: 141px;
    background-color: #ECECEC;
    color: black;
    margin: auto;
    border-radius: 8px;
    margin-top: 20px;
}
.time{
    width: 264px;
    height: 121px;
    font-size: 96px;
    font-weight: 700;
    margin: auto;
}
.start{
    display: flex;
    justify-content: center; /* align horizontally */
    align-items: center; /* align vertically */
    width: 218px;
    height: 80px;
    color: white;
    background-color: #A7C7E7;
    border-radius: 8px;
    margin: auto;
    margin-top: 20px;
    font-size: 64px;
    font-weight: 700;
    padding: 2px;
}
.p{
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    margin-top: 60px;
}
.taskscontainer{
    margin-top: 50px;
}