nav{
    width: 70vw;
    min-width: 450px;
    height: 74px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-radius: 8px;
    align-items: center;
    padding: 15px;
}
.logo{
    display: flex;
    text-decoration: none;
    color: black;
}
.logo img{
    height: 48px;
}
.title{
    line-height: 48px;
    margin-left: 10px;
    font-size: 32px;
    font-weight: 500;
}
.pages{
    display: flex;
}
.navbutton{
    display: flex;
    height: 40px;
    background-color: #A7C7E7;
    align-items: center;
    margin-right: 10px;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.navbutton img{
    margin-right: 5px;
}
span{
    text-decoration: none;
}
.active-link {
    text-decoration: none; /* Remove underline */
}
.username{
    font-size: 16px;
    margin: 10px;
    text-transform: uppercase;
    cursor: pointer;
}